$ColorLinkVisitado: #fff;
$colorLinkHover: #f00 ;
$colorLinkActive: #f00;
$colorLink: #fff;
$colorFondoHeader: #224a92;
$colorFondoFooter:#8fafec;
$colorLetraFooter:#000;
$colTitulo: #000;
/*__________________________MOVIL________________________________*/
$colorFondoNavMovil: linear-gradient(180deg, #224a92, #8fafec);
$colFondoMovil: linear-gradient(180deg, #224a92, #8fafec);
$colarticle: #000;
/*__________________________DESKTOP______________________________*/
$colFonDesk: linear-gradient(180deg, #224a92, #8fafec);
$colNav: #224a92;
/*__________________________TABLET__:____________________________*/
$colFonTablet: linear-gradient(180deg, #224a92, #8fafec);