$ColorLinkVisitado: #fff;
$colorLinkHover: #f00 ;
$colorLinkActive: #f00;
$colorLink: #fff;

$colorFondoFooter:#2d559e;
$colorLetraFooter:#000;
$colTitulo: #000;
/*__________________________MOVIL________________________________*/
$colorFondoNavMovil: linear-gradient(180deg, #224a92, #8fafec);
$colFondoMovil: linear-gradient(180deg, #224a92, #8fafec);
$colarticle: #000;
$colorFondoHeaderM: #123380;
/*__________________________DESKTOP______________________________*/
$colFonDesk: linear-gradient(180deg, #224a92, #8fafec);
$colNav: #123380;
$colorSectionCard: #547cd8;
$fondoMainImc: #8fafec;
$backgroundCanvas2: #999;
$backgroundCanvas1: #333;
$offCanvasTitle: #fff;
$colorFondoHeader: #224a92;
/*__________________________TABLET__:____________________________*/
$colFonTablet: linear-gradient(180deg, #224a92, #8fafec);
$colorSectionCard: #547cd8;
$colorTabletHeader: #224a92;
$fondoMainImc: #8fafec;
$backgroundCanvas2T: #333;
$backgroundCanvas1T: #999;
$offCanvasTitleT: #fff;