*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*________________________________________________HEADER____MOBILE____________________________________________________________*/

@media only screen and (max-width: 767px){
    
    .containerHome{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 100px 200px 400px 275px;
        grid-template-areas:    "header header"
                                "nav    main"
                                "nav    aside"
                                "footer footer";
    }
    .containerNosotros{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 200px 500px 275px;
        grid-template-areas:    "header header"
                                "nav    main"
                                "footer footer";
    }
    .container__galeria{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 200px 500px 275px;
        grid-template-areas:    "header header"
                                "nav    main"
                                "footer footer";
    }
    .container__bibliografia{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 200px 500px 275px;
        grid-template-areas:    "header header"
                                "nav    main"
                                "footer footer";
    }
    .container__contacto{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 200px 500px 275px;
        grid-template-areas:    "header header"
                                "nav    main"
                                "footer footer";
    }
    header{
        grid-area: header;
        background-color: #224a92;
        display: flex;
        align-items: center;
    }

    header .titulo{
        font-size: 2vmax;
        text-align: center;
        margin-left: 10%;
    }

    ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
    }
    
    a:link{
        color: #fff;
    }
    a:visited{
        color:#fff ;
    }
    
/*________________________________________________NAV____MOBILE____________________________________________________________*/

nav{
    grid-area: nav;
    background: linear-gradient(180deg, #224a92, #8fafec);
    text-align: center;
}
nav .listaMenu li{
    margin: 15px auto;
}

/*________________________________________________MAIN____MOBILE____________________________________________________________*/
.main__home{
    grid-area: main;
    background: linear-gradient(180deg, #224a92, #8fafec);
    text-align: center;
}

.article__home{
    padding-top: 10px;
}
/*_____________________________________________SOBREMI*/
.main__nosotros{
    background: linear-gradient(180deg, #224a92, #8fafec);
    text-align: center;
}
main section.sectionSobreMi{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section article.articleSobreMi{
    font-size: 2vmax;
    border: inset rgb(78, 255, 24);
    color: rgba(23, 12, 116, 0.87);
    width: 80%;
    padding: 5;
    margin: 5;
}
/*_____________________________________________GALERIA*/
.main__galeria{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background: linear-gradient(180deg, #224a92, #8fafec);
    text-align: center;
}

.titulo__galeria{
    font-size: 3.5vmax;
}

.article__galeria iframe{
    height: 250px;
    width: 90%;
}
/*_____________________________________________BIBLIOGRAFIA*/
.main__bibliografia{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
    justify-content: space-around;
    background: linear-gradient(180deg, #224a92, #8fafec);
    text-align: center;
}

.subtitulo__bibliografia{
    font-size: 3.5vmax;

}

/*_____________________________________________CONTACTO*/
.main__contacto{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(180deg, #224a92, #8fafec);
}

.titulo__contacto{
    font-size: 4vmax;
}

.fieldset__contacto{
    margin-top: 25px;
    border: #f00    inset;
}

.subtitulo__contacto{
    font-size: 2.6vmax;
}

.input__texto{
    font-size: 1.5vmax;
    border: #f00 inset;
}

.parrafo_contacto{
    font-size: 2.5vmax;
}

.parrafo__boton{
    text-align: end;
}

.input__boton{
    font-size: 2.5vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #133d8c;
    border-radius: 20%;
    background-color: rgb(225, 203, 203);
}


/*________________________________________________ASIDE____MOBILE____________________________________________________________*/

aside{
    grid-area: aside;
    background-color:  #8fafec;
    text-align: center;
}
aside h4{
    margin: 5px auto;
}
/*________________________________________________FOOTER____MOBILE____________________________________________________________*/

    footer{
        background-color:  #8fafec;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
    }

    footer div{
        text-align: center;
    }

    ul{
        padding-left: 0%;
        list-style-type: none;
    }

    ul.listaFooter a{
        display: block;
        line-height: 2;
        margin-top: 10px;
    }
    
    #redes{
    margin-top: 10px;
        }
    
    .listaFooter img{
        width: 30px;
        height: 30px;
    }

    footer h4{
        padding-top: 10px;
    }
}

/*____________________________________________________________DESKTOP__________________________________________________________________________*/








/*________________________________________________HEADER__DESKTOP__________________________________________________________*/

@media only screen and (min-width: 1024px){
    
    .containerHome{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 40vh 10vh 80vh 40vh;
        grid-template-areas:    "header header header"
                                "nav nav nav"
                                "main main aside"
                                "footer footer footer";
    }

    .containerNosotros{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40vh 10vh 80vh 40vh;
        grid-template-areas:    "header"
                                "nav"
                                "main"
                                "footer";
    }

    .container__galeria{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40vh 10vh 80vh 40vh;
        grid-template-areas:    "header"
                                "nav"
                                "main"
                                "footer";
    }

    .container__bibliografia{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40vh 10vh 80vh 40vh;
        grid-template-areas:    "header"
                                "nav"
                                "main"
                                "footer";
    }

    .container__contacto{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40vh 10vh 80vh 40vh;
        grid-template-areas:    "header"
                                "nav"
                                "main"
                                "footer";
    }

header{
    background-color: #527CCC ;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "logoHeader tituloHeader";
    align-items: center;
    justify-items: center;
}

header div.logo{
    grid-area: logoHeader;
}


header div.logo img{
    width: 8vmax;
    height: 8vmax;
}

.logo img{
    animation: animacion__logo 3s;
}

@keyframes animacion__logo {
    0%{transform: scale(0);}
    50%{transform: scale(2);}
    100%{transform: scale(1);}
}

header.titulo{
    grid-area: tituloHeader;
}

h1{
    font-family: 'Supermercado One', cursive;
    font-size: 6vmax;
    text-align: center;
    align-self: center;
}

nav{    
    background-color: #224a92;
    margin: 0px;
    height: 100%;
    text-align: center;
    grid-area: nav;
}

nav ul{
    height: 100%;
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2vmax;
}

nav ul.listaMenu li:hover{
    font-size: 3vmax;
}

a{
    text-decoration: none;
}

a:link{
    color: #fff;
}
a:visited{
    color: #fff;
}
a:hover{
    color: #f00;
}
a:active{
    color: #f00;
}
/*____________________________________________________MAIN____DESKTOP________________________________________________________*/
.main__home{
    grid-area: main;
    flex-direction: row;
    justify-content: space-evenly;
    background: linear-gradient(180deg, #224a92, #8fafec);
}

.titulo__home{
    text-align: center;
    font-family: 'Quintessential', cursive;
    width: 100%;
    font-size: 4vmax;
    animation: animacion__thome 5s;
}

@keyframes animacion__thome {
    0%{color: #a11;}
    50%{color: #0aa;}
    100%{color: #00f;}
}

.section__home{
    width: 100%;
    height: 30vmax;
    color: #000;
    display: flex;
    flex-direction: column;

}
.article__home{
    border: 1px solid #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8vmax;
    text-align: center;
    padding: 5px;
    margin: 2vmax    auto;
    width: 50%;
}

aside{
    grid-area: aside;
    width: 100%;
    text-align: center;
    background: linear-gradient(180deg, #224a92, #8fafec);
}
aside div{
    height: 100%;
    margin: 20px auto;
}

aside div iframe{
    width: 25vmax;
    height: 32vmax;
}

aside h4{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 5px;
    font-size: 2vmax;
}

/*____________________________________________________GALERIA_________________*/
.main__galeria{
    background: linear-gradient(180deg, #224a92, #8fafec);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: 10vh 40vh;
    grid-template-areas:    "titulo titulo"
                            "video1 video2";
    justify-items: center;
}

.titulo__galeria{
    grid-area: titulo;
    text-align: center;
    font-size: 5vmax;
    width: 100%;
}

#article__galeria--1{
    grid-area: video1;
}

#article__galeria--2{
    grid-area: video2;
}

#article__galeria--1 iframe{
    width: 600px;
    height: 350px;
}

#article__galeria--2 iframe{
    width: 600px;
    height: 350px;
}

/*____________________________________________________BIBLIOGRAFIA_________________*/

.main__bibliografia{
    background: linear-gradient(180deg, #224a92, #8fafec);
    display: flex;
    align-items: center;
}

.section__bibliografia{
    margin: 15px;
    text-align: center;
}

.subtitulo__bibliografia{
    font-size: 4vmax;
}

.ul__bibliografia{
    font-size: 2.5vmax;
    padding: 20px;
}

/*____________________________________________________SOBREMI_________________*/

.main__nosotros{
    background: linear-gradient(180deg, #224a92, #8fafec);
    display: flex;
    justify-content: center;
}

.sectionSobreMi{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    justify-content: center;
    
}

main section h3.tituloSobreMi{
    font-size: 4vmax;
}

.tituloSobreMi{
    margin-bottom: 4vmax;
}

main section article.articleSobreMi{
    font-size: 2vmax;
    border: inset rgb(78, 255, 24);
    color: rgba(23, 12, 116, 0.87);
    padding: 2vmax;
    text-align: justify;
    justify-self: center;
}

/*____________________________________________________CONTACTO_________________*/

.main__contacto{
    background: #159;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo__contacto{
    font-size: 4vmax;
}

.fieldset__contacto{
    width: 70vmax;
    border: rgb(10, 223, 42)    inset   5px;
    text-align: center;
    margin-top: 3vmax;
    background-color: rgba(56, 106, 232, 0.6);
}

.input__texto::placeholder{
    color: #223;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitulo__contacto{
    font-size: 3vmax;
    font-family: 'Lobster', cursive;
}

.parrafo_contacto{
    font-size: 2vmax;
    margin: 10px auto;
}

.parrafo__boton{
    text-align: end;
}

.input__texto{
    border: none;
    border-bottom: rgb(10, 223, 42) 3px solid;
    width: 60%;
    background-color: transparent;
    font-size: 1.5vmax;
}

.input__texto:focus{
    background: linear-gradient(to bottom, transparent, #239)
}

textarea{
    resize: none    ;
}

.input__boton{
    border: none;
    font-size: 2.5vmax;
    color: #000;
    background-color: rgb(223, 211, 211);
    font-family: 'Staatliches', cursive;
    width: 100%;
}

.input__boton:hover{
    background-color: rgb(10, 223, 42);
    color: #fff;
}

/*__________________________________________________FOOTER_____DESKTOP____________________________________________________*/
footer{
    grid-area: footer;
    background-color: #8fafec;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
footer div{
    width: 30%;
}
ul{
    padding-left: 0%;
    list-style-type: none;
}
ul.listaFooter a{
    display: block;
    line-height: 2;
    font-size: 1.5vmax;
}

ul.listaFooter a:hover{
    font-size: 2vmax;
}

.listaFooter img{
    width: 4vmax;
    height: 4vmax;
}

footer h4{
    font-size: 2vmax;
    margin-top: 15px;
}


#redes{
    align-items: center;
    padding: 10px;
    align-content: center;
    text-align: center;
    width: 100%;
}

#redes .listaFooter{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    align-content: center;
    justify-content: space-around;
}
}
/*____________________________________________________________TABLET____________________________________________________________________*/





/*____________________________________________________________TABLET____________________________________________________________________*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .containerHome{
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 200 450 350 200;
        grid-template-areas:    "header header"
                                "nav    main"
                                "nav    aside"
                                "footer footer";
                                background: linear-gradient(180deg, #224a92, #8fafec);
    }
    
    .containerNosotros{
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 250px 800px 350px;
        grid-template-areas:    "header header"
                                "nav    main"
                                "footer footer";
    background: linear-gradient(180deg, #224a92, #8fafec);
    }
    .container__galeria{
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 250px 900px 350px;
        grid-template-areas:    "header header"
                                "nav    main"
                                "footer footer";
    background: linear-gradient(180deg, #224a92, #8fafec);
    }
    .container__bibliografia{
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 250px 800px 350px;
        grid-template-areas:    "header header"
                                "nav    main"
                                "footer footer";
    background: linear-gradient(180deg, #224a92, #8fafec);
    }
    .container__contacto{
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 250px 800px 350px;
        grid-template-areas:    "header header"
                                "nav    main"
                                "footer footer";
    background: linear-gradient(180deg, #224a92, #8fafec);
    }

/*____________________________________________________________TABLET___HEADER_________________________________________________________________*/

header{
    background-color: #224a92;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "logoHeader tituloHeader";
    align-items: center;
    justify-items: center;
}

header div.logo{
    grid-area: logoHeader;
}


header div.logo img{
    width: 8vmax;
    height: 8vmax;
}
header.titulo{
    grid-area: tituloHeader;
}
h1{
    font-family: 'Supermercado One', cursive;
    font-size: 8vmax;
    text-align: center;
    align-self: center;
}


a{
    text-decoration: none;
}

a:link{
    color: #fff;
}
a:visited{
    color: #fff;
}
a:hover{
    color: #f00;
}
a:active{
    color: #f00;
}

/*____________________________________________________________TABLET___NAV_________________________________________________________________*/


nav{    
    margin: 0px;
    height: 100%;
    text-align: center;
    grid-area: nav;
}

nav ul{
    height: 100%;
    display: flex;
    flex-direction: column ;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2vmax;
}

nav ul.listaMenu li:hover{
    font-size: 3vmax;
}

/*____________________________________________________________TABLET___MAIN_________________________________________________________________*/

.main__home{
    grid-area: main;
    flex-direction: row;
    justify-content: space-evenly;
}

.titulo__home{
    text-align: center;
    font-family: 'Quintessential', cursive;
    width: 100%;
    font-size: 6vmax;
}
main section h3.tituloSobreMi{
    font-size: 4vmax;
}

.section__home{
    width: 100%;
    height: 30vmax;
    color: #000;
    display: flex;
    flex-direction: column;

}
.article__home{
    border: 1px solid #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8vmax;
    text-align: center;
    padding: 5px;
    margin: 2vmax    auto;
    width: 50%;
    
}
.main__nosotros{
    text-align: center;
}

.sectionSobreMi{
    display: flex;
    flex-direction: column;
}

main section article.articleSobreMi{
    font-size: 2vmax;
    border: inset rgb(78, 255, 24);
    color: rgba(23, 12, 116, 0.87);
    padding: 2vmax;
    text-align: justify;
    align-self: center;
    margin-top: 50px;
    width: 80%;
}

.main__bibliografia{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.subtitulo__bibliografia{
    font-size: 4vmax;
    margin: 5px;
}

.ul__bibliografia li{
    font-size: 2.5vmax;
}


.main__galeria{
    width: 100%;
    height: 900px;
    text-align: center;
}

.titulo__galeria{
    font-size: 4vmax;
    margin: 5px;
}

.article__galeria{
    margin: 30px auto;
}

.article__galeria iframe{
    width: 450px;
    height: 350px;
    border: 0px;
    padding: 0%;
    margin: auto;
}

.main__contacto{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.titulo__contacto{
    font-size: 4vmax;
}

.fieldset__contacto{
    margin-top: 25px;
    border: #f00    inset;
}

.subtitulo__contacto{
    font-size: 3vmax;
}

.input__texto{
    font-size: 1.5vmax;
    border: #f00 inset;
}

.parrafo_contacto{
    font-size: 2.5vmax;
}

.parrafo__boton{
    text-align: end;
}

.input__boton{
    font-size: 2.5vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #133d8c;
    border-radius: 20%;
    background-color: rgb(225, 203, 203);
}

/*____________________________________________________________TABLET___ASIDE_________________________________________________________________*/

aside{
    grid-area: aside;
    width: 100%;
    text-align: center;
}
aside div{
    height: 100%;
    margin: 20px auto;
}

aside div iframe{
    width: 25vmax;
    height: 32vmax;
}

aside h4{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 5px;
    font-size: 2vmax;
}


/*____________________________________________________________TABLET___FOOTER_________________________________________________________________*/
footer{
    grid-area: footer;
    background-color: #8fafec;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
footer div{
    width: 25%;
}
ul{
    padding-left: 0%;
    list-style-type: none;
}
ul.listaFooter a{
    display: block;
    line-height: 2;
    font-size: 1.5vmax;
    color: #000;
}

ul.listaFooter a:hover{
    font-size: 2.5vmax;
}

.listaFooter img{
    width: 4vmax;
    height: 4vmax;
}

footer h4{
    font-size: 2vmax;
    margin-top: 15px;
}


#redes{
    align-items: center;
    padding: 10px;
    align-content: center;
    text-align: center;
    width: 100%;
}

#redes .listaFooter{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    align-content: center;
    justify-content: space-between;
}
}